@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Customer Information Database</h1>
    <br />
    <br />
    <p>Beginner Friendly Database to store your customers Information.</p>
    <p>Future plans to further develop the page with login Authentication and other features.</p>
</div>
